@font-face {
  font-family: 'BebasNeue';
  src: url("../../fonts/BebasNeue.eot");
  src: url("../../fonts/BebasNeue.eot") format("embedded-opentype"), url("../../fonts/BebasNeue.woff2") format("woff2"), url("../../fonts/BebasNeue.woff") format("woff"), url("../../fonts/BebasNeue.ttf") format("truetype"), url("../../fonts/BebasNeue.svg#BebasNeue") format("svg"); }
@font-face {
  font-family: 'BitterBold';
  src: url("../../fonts/BitterBold.eot");
  src: url("../../fonts/BitterBold.eot") format("embedded-opentype"), url("../../fonts/BitterBold.woff2") format("woff2"), url("../../fonts/BitterBold.woff") format("woff"), url("../../fonts/BitterBold.ttf") format("truetype"), url("../../fonts/BitterBold.svg#BitterBold") format("svg"); }
@font-face {
  font-family: 'BitterRegular';
  src: url("../../fonts/BitterRegular.eot");
  src: url("../../fonts/BitterRegular.eot") format("embedded-opentype"), url("../../fonts/BitterRegular.woff") format("woff"), url("../../fonts/BitterRegular.ttf") format("truetype"), url("../../fonts/BitterRegular.svg#BitterRegular") format("svg"); }
body {
  font-family: "BebasNeue";
  height: 100% !important;
  color: #FFF;
  overflow-x: hidden; }

img {
  max-width: 100%;
  width: auto;
  height: auto; }

#header {
  position: relative;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }
  #header img {
    width: 50%; }

#navmenu {
  margin-top: 25px; }
  #navmenu .nav-wrapper .nav-button {
    font-size: 35px;
    line-height: normal;
    text-align: center;
    margin-bottom: 25px; }
    #navmenu .nav-wrapper .nav-button a {
      text-decoration: none;
      color: #FFF; }
    #navmenu .nav-wrapper .nav-button .navbutton-wrapper {
      padding: 5px 0 3px 0;
      background-color: #82caac;
      letter-spacing: 0;
      -webkit-transition: letter-spacing 0.2s ease-out;
      -moz-transition: letter-spacing 0.2s ease-out;
      transition: letter-spacing 0.2s ease-out; }
    #navmenu .nav-wrapper .nav-button .navbutton-wrapper:hover {
      letter-spacing: 5px;
      background-color: #67a08a;
      -webkit-transition: letter-spacing 0.2s ease-out;
      -moz-transition: letter-spacing 0.2s ease-out;
      transition: letter-spacing 0.2s ease-out; }
  #navmenu .nav-wrapper .nav-featured {
    position: relative;
    text-align: center;
    height: 400px;
    overflow-y: hidden;
    padding-top: 25px; }
    #navmenu .nav-wrapper .nav-featured .nav-featured-wrapper {
      overflow-y: hidden; }
      #navmenu .nav-wrapper .nav-featured .nav-featured-wrapper img {
        top: -100;
        z-index: -1;
        width: 100%; }

.line {
  padding-left: 15px;
  padding-right: 15px; }

#content {
  position: relative;
  z-index: 1;
  text-align: center; }
  #content .caption {
    text-align: center;
    font-size: 35px;
    background-color: #82caac;
    padding: 20px;
    margin: 25px 15px 25px 15px; }
  #content .menu .menu-wrapper {
    color: #FFF;
    cursor: pointer; }
    #content .menu .menu-wrapper h2 {
      position: absolute;
      top: 42.5%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #content .menu .caption-wrapper {
    padding: 20px;
    background-color: #82caac;
    letter-spacing: 0;
    -webkit-transition: letter-spacing 0.2s ease-out;
    -moz-transition: letter-spacing 0.2s ease-out;
    transition: letter-spacing 0.2s ease-out; }
    #content .menu .caption-wrapper .caption-inner-wrapper {
      border-style: solid;
      border-width: 5px;
      border-color: #FFF; }
      #content .menu .caption-wrapper .caption-inner-wrapper h1 {
        margin: 5px; }
  #content .menu .caption-wrapper:hover {
    letter-spacing: 3px;
    -webkit-transition: letter-spacing 0.2s ease-out;
    -moz-transition: letter-spacing 0.2s ease-out;
    transition: letter-spacing 0.2s ease-out;
    background-color: #67a08a; }
  #content .menu .content-1-wrapper #image-left {
    margin: 0 0 20px 0; }
    #content .menu .content-1-wrapper #image-left img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-1-wrapper #image-left img:hover {
      -webkit-filter: brightness(80%); }
  #content .menu .content-2-wrapper {
    width: 100%; }
    #content .menu .content-2-wrapper img {
      object-fit: cover;
      height: 350px; }
    #content .menu .content-2-wrapper img:hover {
      -webkit-filter: brightness(80%); }
    #content .menu .content-2-wrapper h1 {
      padding: 80px; }
  #content .menu .content-3-wrapper #image-right {
    margin: 20px 0 0 0; }
    #content .menu .content-3-wrapper #image-right img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-3-wrapper #image-right img:hover {
      -webkit-filter: brightness(80%); }

#footer {
  margin-bottom: 50px; }
  #footer #left-footer, #footer #right-footer {
    margin-top: 25px; }
  #footer #left-footer {
    padding-right: 50px;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #82caac; }
    #footer #left-footer #about-us, #footer #left-footer #help {
      color: #5c5251; }
    #footer #left-footer #about-us {
      border-right-style: solid;
      border-right-width: 5px;
      border-right-color: #82caac;
      padding-left: 50px; }
    #footer #left-footer #help {
      padding-left: 50px; }
    #footer #left-footer .footer-title {
      margin-top: 0; }
    #footer #left-footer .footer-list {
      list-style: none;
      font-size: 18px;
      margin-top: -20px;
      margin-left: -40px;
      letter-spacing: 1px; }
      #footer #left-footer .footer-list a {
        text-decoration: none;
        color: #5c5251;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out; }
      #footer #left-footer .footer-list a:hover {
        color: #82caac;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out; }
      #footer #left-footer .footer-list li {
        font-family: "BitterBold";
        margin-bottom: 3px; }
    #footer #left-footer .footer-list > li:before {
      content: "-";
      margin-right: 5px;
      font-family: "BitterBold"; }
    #footer #left-footer #trademark {
      font-family: "BitterRegular";
      padding-top: 5px;
      margin-top: 25px;
      text-align: center;
      color: #82caac;
      background-color: #FFF;
      border-style: solid;
      border-width: 10px;
      border-color: #82caac; }
      #footer #left-footer #trademark h1 {
        font-size: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%); }
  #footer #right-footer {
    padding-left: 50px; }
    #footer #right-footer #email #email-text {
      color: #5c5251;
      padding-bottom: 20px; }
      #footer #right-footer #email #email-text .footer-title, #footer #right-footer #email #email-text .footer-desc {
        margin: 0; }
      #footer #right-footer #email #email-text .footer-title {
        font-size: 35px; }
      #footer #right-footer #email #email-text .footer-desc {
        font-family: "BitterRegular";
        font-size: 18px; }
    #footer #right-footer #email #email-component-wrapper {
      color: #5c5251;
      height: 100%; }
      #footer #right-footer #email #email-component-wrapper #email-address-wrapper {
        padding: 0;
        height: 100%; }
        #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field {
          width: 100%;
          height: 50px;
          padding: 5px;
          font-size: 20px;
          overflow: visible;
          border: solid 5px #82caac;
          transition: border 0.3s;
          font-family: "BitterRegular"; }
        #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field::-moz-placeholder {
          font-family: "BebasNeue";
          position: relative;
          top: -5px;
          overflow: visible;
          font-size: 30px;
          text-align: center;
          color: rgba(130, 202, 172, 0.5); }
        #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field:-moz-placeholder {
          font-family: "BebasNeue";
          position: relative;
          top: -5px;
          overflow: visible;
          font-size: 30px;
          text-align: center;
          color: rgba(130, 202, 172, 0.5); }
        #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field::-webkit-input-placeholder {
          font-family: "BebasNeue";
          position: relative;
          top: -5px;
          overflow: visible;
          font-size: 30px;
          text-align: center;
          color: rgba(130, 202, 172, 0.5); }
        #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field:-ms-input-placeholder {
          font-family: "BebasNeue";
          position: relative;
          top: -5px;
          overflow: visible;
          font-size: 30px;
          text-align: center;
          color: rgba(130, 202, 172, 0.5); }
      #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper {
        padding: 0 0 0 5px;
        height: 50px; }
        #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper #subscribe-button {
          height: 100%;
          width: 100%;
          font-size: 30px;
          vertical-align: top;
          background-color: #82caac;
          border: 0;
          color: #FFF;
          letter-spacing: 0;
          -webkit-transition: letter-spacing 0.2s ease-out;
          -moz-transition: letter-spacing 0.2s ease-out;
          transition: letter-spacing 0.2s ease-out; }
        #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper #subscribe-button:hover {
          background-color: #67a08a;
          letter-spacing: 1px;
          -webkit-transition: letter-spacing 0.2s ease-out;
          -moz-transition: letter-spacing 0.2s ease-out;
          transition: letter-spacing 0.2s ease-out; }
    #footer #right-footer #social-network #social-network-wrapper .social-icon {
      text-align: center;
      margin-bottom: 20px; }
      #footer #right-footer #social-network #social-network-wrapper .social-icon img {
        margin-top: 20px;
        width: 100%;
        filter: brightness(1);
        -moz-filter: brightness(100%);
        -webkit-filter: brightness(100%); }
      #footer #right-footer #social-network #social-network-wrapper .social-icon img:hover {
        -moz-filter: brightness(80%);
        -webkit-filter: brightness(80%); }

.shop-content a {
  text-decoration: none;
  color: #FFF; }
.shop-content .category {
  text-align: center;
  margin: 25px 15px 25px 15px; }
  .shop-content .category h1 {
    font-size: 35px; }
.shop-content #category-title {
  text-align: center;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #82caac;
  margin-top: 50px; }
  .shop-content #category-title #category-title-wrapper {
    margin-top: -35px; }
    .shop-content #category-title #category-title-wrapper h1 {
      font-family: "BebasNeue";
      text-align: center;
      color: #FFF;
      background-color: #82caac;
      width: 30%;
      padding: 10px 0 10px 0;
      margin: auto; }
.shop-content #category-list .category-button {
  margin-top: 10px;
  margin-bottom: 10px; }
  .shop-content #category-list .category-button .category-button-wrapper {
    background-color: #82caac;
    padding: 20px; }
    .shop-content #category-list .category-button .category-button-wrapper .category-button-inner-wrapper {
      border-style: solid;
      border-width: 5px;
      border-color: #FFF;
      letter-spacing: 0;
      transition: letter-spacing 0.2s ease-out; }
.shop-content #category-list .category-button-wrapper:hover {
  background-color: #67a08a; }
  .shop-content #category-list .category-button-wrapper:hover .category-button-inner-wrapper {
    letter-spacing: 3px;
    transition: letter-spacing 0.2s ease-out; }

@media (max-width: 1200px) {
  #footer #left-footer .footer-list {
    font-size: 14px; } }
@media (max-width: 992px) {
  .line img {
    object-fit: cover;
    height: 15px;
    width: 100%; }

  #content .caption h1 {
    font-size: 25px; }
  #content .menu .content-1-wrapper #caption-left {
    margin-bottom: 20px; }
    #content .menu .content-1-wrapper #caption-left h1 {
      font-size: 25px; }
  #content .menu .content-3-wrapper #caption-right {
    margin-top: 20px; }
    #content .menu .content-3-wrapper #caption-right h1 {
      font-size: 25px; }

  #footer #left-footer {
    border: none;
    padding-right: 15px; }
    #footer #left-footer #about-us {
      border: none; }
    #footer #left-footer .footer-list {
      list-style: none;
      font-size: 18px;
      margin-top: -20px;
      margin-left: -40px;
      letter-spacing: 1px; }
      #footer #left-footer .footer-list a {
        text-decoration: none;
        color: #5c5251;
        transition: color 0.3s ease-out; }
      #footer #left-footer .footer-list a:hover {
        color: #82caac;
        transition: color 0.3s ease-out; }
      #footer #left-footer .footer-list li {
        font-family: "BitterBold";
        margin-bottom: 3px; }
    #footer #left-footer .footer-list > li:before {
      content: "-";
      margin-right: 5px;
      font-family: "BitterBold"; }
  #footer #right-footer {
    text-align: center;
    padding-left: 15px; }
    #footer #right-footer #email #email-text {
      color: #5c5251;
      padding-bottom: 20px; }
      #footer #right-footer #email #email-text .footer-title, #footer #right-footer #email #email-text .footer-desc {
        margin: 0; }
      #footer #right-footer #email #email-text .footer-title {
        font-size: 35px; }
      #footer #right-footer #email #email-text .footer-desc {
        font-family: "BitterRegular";
        font-size: 18px; }
    #footer #right-footer #email #email-component-wrapper {
      color: #5c5251; }
      #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field {
        text-align: center; }
      #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper {
        margin-top: 20px;
        padding: 0;
        height: 50px; }
        #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper #subscribe-button {
          width: 100%;
          font-size: 30px;
          vertical-align: top;
          background-color: #82caac;
          border: 0;
          color: #FFF;
          transition: letter-spacing 0.2s ease-out; }
        #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper #subscribe-button:hover {
          background-color: #67a08a;
          letter-spacing: 3px;
          transition: letter-spacing 0.2s ease-out; }
    #footer #right-footer #social-network {
      text-align: center; }
      #footer #right-footer #social-network #social-network-wrapper .social-icon {
        text-align: center; }
        #footer #right-footer #social-network #social-network-wrapper .social-icon img {
          margin-top: 20px;
          width: 70%;
          filter: brightness(1);
          -moz-filter: brightness(100%);
          -webkit-filter: brightness(100%); }
        #footer #right-footer #social-network #social-network-wrapper .social-icon img:hover {
          -moz-filter: brightness(80%);
          -webkit-filter: brightness(80%); }

  .shop-content a {
    text-decoration: none;
    color: #FFF; }
  .shop-content .category {
    text-align: center;
    margin: 25px 15px 25px 15px; }
    .shop-content .category h1 {
      font-size: 35px; }
  .shop-content #category-title {
    text-align: center;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #82caac;
    margin-top: 50px; }
    .shop-content #category-title #category-title-wrapper {
      margin-top: -35px; }
      .shop-content #category-title #category-title-wrapper h1 {
        font-family: "BebasNeue";
        text-align: center;
        color: #FFF;
        background-color: #82caac;
        width: 50%;
        padding: 10px 0 10px 0;
        margin: auto; }
  .shop-content #category-list .category-button {
    margin-top: 10px;
    margin-bottom: 10px; }
    .shop-content #category-list .category-button .category-button-wrapper {
      background-color: #82caac;
      padding: 20px; }
      .shop-content #category-list .category-button .category-button-wrapper .category-button-inner-wrapper {
        border-style: solid;
        border-width: 5px;
        border-color: #FFF;
        transition: letter-spacing 0.2s ease-out; }
  .shop-content #category-list .category-button-wrapper:hover {
    background-color: #67a08a; }
    .shop-content #category-list .category-button-wrapper:hover .category-button-inner-wrapper {
      letter-spacing: 3px;
      transition: letter-spacing 0.2s ease-out; } }
@media (max-width: 768px) {
  #header {
    display: none; }

  #navmenu {
    margin-top: 25px; }
    #navmenu #navmobile {
      margin-left: 15px;
      margin-right: 15px; }
      #navmenu #navmobile .navbar-brand img {
        margin-top: -13px;
        margin-left: -15px;
        width: 200px; }
      #navmenu #navmobile .collapse-menu .navmenu a {
        padding: 20px 15px 15px 15px;
        font-size: 24px;
        color: #82caac; }
      #navmenu #navmobile .collapse-menu .navmenu:hover {
        background-color: #82caac; }
        #navmenu #navmobile .collapse-menu .navmenu:hover a {
          color: #FFF; }
      #navmenu #navmobile .collapse-menu .active:hover a {
        color: #82caac; }
    #navmenu .nav-wrapper .nav-button {
      display: none; }
    #navmenu .nav-wrapper .nav-featured {
      height: 100%; }

  #content .caption h1 {
    font-size: 25px; }
  #content .menu .caption-wrapper {
    padding: 20px;
    background-color: #82caac;
    transition: letter-spacing 0.2s ease-out; }
    #content .menu .caption-wrapper .caption-inner-wrapper {
      border-style: solid;
      border-width: 5px;
      border-color: #FFF; }
      #content .menu .caption-wrapper .caption-inner-wrapper h1 {
        margin: 5px; }
  #content .menu .caption-wrapper:hover {
    letter-spacing: 3px;
    transition: letter-spacing 0.2s ease-out;
    background-color: #67a08a; }
  #content .menu .content-1-wrapper #image-left {
    margin: 0 0 20px 0; }
    #content .menu .content-1-wrapper #image-left img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-1-wrapper #image-left img:hover {
      -webkit-filter: brightness(80%); }
  #content .menu .content-2-wrapper {
    width: 100%; }
    #content .menu .content-2-wrapper img {
      object-fit: cover;
      height: 350px; }
    #content .menu .content-2-wrapper img:hover {
      -webkit-filter: brightness(80%); }
    #content .menu .content-2-wrapper h1 {
      padding: 80px; }
  #content .menu .content-3-wrapper #image-right {
    margin: 20px 0 0 0; }
    #content .menu .content-3-wrapper #image-right img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-3-wrapper #image-right img:hover {
      -webkit-filter: brightness(80%); }

  #footer {
    margin-bottom: 50px; }
    #footer #left-footer #about-us, #footer #left-footer #help {
      color: #5c5251; }
    #footer #left-footer #about-us {
      border: none; }
    #footer #left-footer #help {
      padding-left: 50px; }
    #footer #left-footer .footer-title {
      margin-top: 0; }
    #footer #left-footer .footer-list {
      list-style: none;
      font-size: 14px; }
    #footer #left-footer #trademark h1 {
      font-size: 10px; }
    #footer #right-footer #email #email-text {
      color: #5c5251;
      padding-bottom: 20px; }
      #footer #right-footer #email #email-text .footer-title, #footer #right-footer #email #email-text .footer-desc {
        margin: 0; }
      #footer #right-footer #email #email-text .footer-title {
        font-size: 35px; }
      #footer #right-footer #email #email-text .footer-desc {
        font-size: 14px; }
    #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field {
      font-size: 16px; }
    #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field::-webkit-input-placeholder {
      font-size: 24px; }
    #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field:-moz-input-placeholder {
      font-size: 24px; }
    #footer #right-footer #email #email-component-wrapper #email-address-wrapper #email-address-field:-ms-input-placeholder {
      font-size: 24px; }
    #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper {
      padding: 0;
      width: 100%; }
      #footer #right-footer #email #email-component-wrapper #subscribe-button-wrapper #subscribe-button {
        font-size: 24px; }

  .shop-content a {
    text-decoration: none;
    color: #FFF; }
  .shop-content .category {
    text-align: center;
    margin: 20px 10px 25px 10px; }
    .shop-content .category h1 {
      font-size: 35px; }
  .shop-content #category-title {
    text-align: center;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #82caac;
    margin-top: 50px; }
    .shop-content #category-title #category-title-wrapper {
      margin-top: -35px; }
      .shop-content #category-title #category-title-wrapper h1 {
        width: 65%; }
  .shop-content #category-list .category-button {
    margin-top: 10px;
    margin-bottom: 10px; }
    .shop-content #category-list .category-button .category-button-wrapper {
      background-color: #82caac;
      padding: 20px; }
      .shop-content #category-list .category-button .category-button-wrapper .category-button-inner-wrapper {
        border-style: solid;
        border-width: 5px;
        border-color: #FFF;
        transition: letter-spacing 0.2s ease-out; }
  .shop-content #category-list .category-button-wrapper:hover {
    background-color: #67a08a; }
    .shop-content #category-list .category-button-wrapper:hover .category-button-inner-wrapper {
      letter-spacing: 3px;
      transition: letter-spacing 0.2s ease-out; } }
@media (max-width: 400px) {
  #header {
    display: none; }

  #navmenu {
    margin-top: 25px; }
    #navmenu #navmobile {
      margin-left: 15px;
      margin-right: 15px; }
      #navmenu #navmobile .navbar-brand img {
        margin-top: -5px;
        margin-left: -15px;
        width: 150px; }
      #navmenu #navmobile .collapse-menu .navmenu:hover {
        background-color: #82caac; }
        #navmenu #navmobile .collapse-menu .navmenu:hover a {
          color: #FFF; }
      #navmenu #navmobile .collapse-menu .active:hover a {
        color: #82caac; }
    #navmenu .nav-wrapper .nav-button {
      display: none; }
    #navmenu .nav-wrapper .nav-featured {
      height: 100%; }

  #content .caption h1 {
    font-size: 20px; }
  #content .menu .caption-wrapper {
    padding: 20px;
    background-color: #82caac;
    transition: letter-spacing 0.2s ease-out; }
    #content .menu .caption-wrapper .caption-inner-wrapper {
      border-style: solid;
      border-width: 5px;
      border-color: #FFF; }
      #content .menu .caption-wrapper .caption-inner-wrapper h1 {
        margin: 5px; }
  #content .menu .caption-wrapper:hover {
    letter-spacing: 3px;
    transition: letter-spacing 0.2s ease-out;
    background-color: #67a08a; }
  #content .menu .content-1-wrapper #image-left {
    margin: 0 0 20px 0; }
    #content .menu .content-1-wrapper #image-left img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-1-wrapper #image-left img:hover {
      -webkit-filter: brightness(80%); }
  #content .menu .content-2-wrapper {
    width: 100%; }
    #content .menu .content-2-wrapper img {
      object-fit: cover;
      height: 350px; }
    #content .menu .content-2-wrapper img:hover {
      -webkit-filter: brightness(80%); }
    #content .menu .content-2-wrapper h1 {
      padding: 80px; }
  #content .menu .content-3-wrapper #image-right {
    margin: 20px 0 0 0; }
    #content .menu .content-3-wrapper #image-right img {
      width: 100%;
      height: 192px;
      object-fit: cover; }
    #content .menu .content-3-wrapper #image-right img:hover {
      -webkit-filter: brightness(80%); }

  #footer {
    margin-bottom: 50px; }
    #footer #left-footer #about-us, #footer #left-footer #help {
      color: #5c5251; }
    #footer #left-footer #about-us {
      border: none;
      padding-left: 25px; }
    #footer #left-footer #help {
      padding-left: 25px; }
    #footer #left-footer .footer-title {
      font-size: 24px;
      margin-top: 0; }
    #footer #left-footer .footer-list {
      list-style: none;
      font-size: 12px; }
    #footer #left-footer #trademark h1 {
      font-size: 10px; }
    #footer #right-footer #email #email-text {
      color: #5c5251;
      padding-bottom: 20px; }
      #footer #right-footer #email #email-text .footer-title, #footer #right-footer #email #email-text .footer-desc {
        margin: 0; }
      #footer #right-footer #email #email-text .footer-title {
        font-size: 24px; }
      #footer #right-footer #email #email-text .footer-desc {
        font-size: 12px; }

  .shop-content a {
    text-decoration: none;
    color: #FFF; }
  .shop-content .category {
    text-align: center;
    margin: 25px 15px 25px 15px; }
    .shop-content .category h1 {
      font-size: 25px; }
  .shop-content #category-title {
    text-align: center;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #82caac;
    margin-top: 50px; }
    .shop-content #category-title #category-title-wrapper {
      margin-top: -30px; }
      .shop-content #category-title #category-title-wrapper h1 {
        width: 70%; }
  .shop-content #category-list .category-button {
    margin-top: 10px;
    margin-bottom: 10px; }
    .shop-content #category-list .category-button .category-button-wrapper {
      background-color: #82caac;
      padding: 20px; }
      .shop-content #category-list .category-button .category-button-wrapper .category-button-inner-wrapper {
        border-style: solid;
        border-width: 5px;
        border-color: #FFF;
        transition: letter-spacing 0.2s ease-out; }
  .shop-content #category-list .category-button-wrapper:hover {
    background-color: #67a08a; }
    .shop-content #category-list .category-button-wrapper:hover .category-button-inner-wrapper {
      letter-spacing: 3px;
      transition: letter-spacing 0.2s ease-out; } }

/*# sourceMappingURL=style.css.map */
